.about-us-profiles{
    flex-direction: row;
    justify-content: space-around;
}

.profile-img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 250px;
}

.info{
    margin:auto;
    max-width: 40%;
    font-size: large;
}

.about-us-container{
    display: flex;
    flex-direction: column
}