.application-styling {
  background-image: url("./img/arka.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  color: white;
}
