
.heading-generator{
    font-size: 20px;
    display: flex;
    margin-bottom: 200px !important;
    padding-top: 0px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.form-div {
  width: 400px;
  background: #00000047;
  padding: 4rem 1.4rem;
  backdrop-filter: blur(15px);
  border: 1px solid #ffffff1f;
  border-radius: 1rem;
}
header-gen{
  color: white;
}
.generate-button{
  margin-top: 25px;
  text-align: center;

} 
.checkboxes{
  margin-top: 10px;
}
.thingy{
  text-align: center;
}
.checkboxes{
  text-align: left !important; 
}