
.learn-more-button {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
}
.learn-more-button:hover {
  background-color: white;
  color: black;
}
.learn-more-button:active {
  background-color: rgb(67, 64, 64) !important;
  border-color: white !important;; 
  color: white;
}
.get-started-button {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
}
.get-started-button:hover {
  background-color: white;
  color: black;
}
.get-started-button:active {
  background-color: rgb(67, 64, 64) !important;
  border-color: white !important;; 
  color: white;
}
.header{
  font-size: 50px;
  width: 800px; 
}
.small-header{
  font-size: 20px;
  width: 500px; 
  text-align: center;
  margin-left: 150px;
}
.nav-container{
  margin-top: 20px;
  margin-left: 20px;
}
.my-logo{
  font-size: 28px;
}
.me-auto{
  margin-left: 720px;
  text-align: center;
}
.passwords, .generator, .about-us, .sign-out{
  display: inline-block;
  color: white;
  margin-top: 20px;
  width: 110px;
  font-size: 20px;
  margin-left: 20px; 
  text-align: right;
}
.sign-out{
  margin-right: 20px;
}
.nav-container{
  width: 1420px;
  margin-right: 20px !important;
}
.my-logo:hover{
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.5);
}