
.add-button{
  background-color: transparent !important;
  color: white;
  border: 1px solid white;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: 28px;
}
.add-button{
  margin-bottom: 30px;
  margin-right: 30px;

}
.add-button:hover{
  background-color: white !important;
  color: black !important;
}
.add-button:active{
  background-color: rgb(67, 64, 64) !important;
  border-color: white !important;
  color: white !important;
}
.modal-content{
  background-color: transparent;
  border: solid 1px white;
  color: white;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 40px;
  margin-top: 190px;
}
.container-1{
  background-color: white !important;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  width: 340px;
  height: 220px;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 100px;
  display: inline-block;
  margin-right: 110px;
}
.container-2{
  background-color: white !important;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  width: 340px;
  height: 220px;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 0px;
  display: inline-block;
  margin-right: 110px;
}
.container-3{
  background-color: white !important;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  width: 340px;
  height: 220px;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 0px;
  display: inline-block;
  margin-right: 60px;
}
.google-logo{
  padding-top: 20px;
  height: auto;
}
.twitter-logo{
  height: 188px;
  padding-left: 60px;
}

.open-button{
  margin-left: 184px;
  padding-bottom: 15x;
}
.twitter-open-button{
  margin-left: 210px;
  padding-bottom: 15x;
}
.insta-logo{
  height: 188px;
  padding-left: 60px;
}